.page {
    max-width: var(--max-width-content);
    margin: auto;
    width: 100%;
    padding: var(--space-xl) var(--space-lg);
    min-height: 60vh; /* Center vertically */
    display: flex;
    align-items: center;
}